html{
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}


/*pc*/

@media screen and (min-width: 600px) {

body{
    margin: 0px;
  }

 header{
  height: 60px;
  width: 960px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  justify-content: space-between;
 }

.contents h1{
  font-size: 25px;
  color: #eeeeee;
  border: 2px solid #4b4a4a;
  background-color: #4b4a4a;
  padding: 2px;
  padding-top: 10.44px;
  padding-bottom: 10.44px;
  padding-left: 21.44px;
  padding-right: 21.44px;
  margin-left: 10px;
}

h2{
  text-align: center;
  font-family: メイリオ;
  font-size: 32px;
  border-bottom: solid 2px #4b4a4a;
  padding-top: 8px;
  padding-bottom: 8px;
}

h3{
  text-align: center;
}

p{
  text-align: center;
}
 nav{
  width: 400px;
  height: 60px;
  margin-right: 0px;
  margin-top: 20px;
  float: left;
 }

.header{
  display: flex;  /*これで横並び*/
  justify-content: space-between;
  width: 375px;  /*これ2つで幅広げ*/
  height: 60px;
}


 ul{
  float: left;
 }

 li{
  list-style: none;
  float: left;
  margin-left: 30px;
  margin-right: 30px;
 }

main{
 height: 1300px;
}

.main-vidual{
  background-image: url(img/mainvisual.jpg);
  background-size: cover; /*横いっぱいに広げる*/
  height: 600px; /*高さを限定する*/
  height: 600px; /*aboutを下にもっていく*/
}

.about{
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.bic{
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.bic li{
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.bic ul{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  padding-left: 100px;
  padding-right: 100px;
}


footer{
  text-align: center;
}
}



/*こっちがスマホ*/
@media screen and (max-width: 600px) {

  body{
    margin: 0px;
  }

  header{
   height: 60px;
   width: 375px;
   margin-bottom: 0px;
   padding-bottom: 0px;
   justify-content: space-between;
  }

  .contents{
    margin-left: 10px;
  }

 .contents h1{
   font-size: 25px;
   color: #eeeeee;
   border: 2px solid #4b4a4a;
   background-color: #4b4a4a;
   padding: 2px;
   padding-left: 8px;
   padding-right: 8px;
   margin-top: 10px;
 }

 h2{
   text-align: center;
   font-size: 40px;
   border-bottom: solid 2px #4b4a4a;
 }

 h3{
   text-align: center;
 }

 p{
   text-align: center;
   font-size: 15px;
 }
  nav{
   width: 160px;
   height: 60px;
   margin-right: 0px;
   margin-left: 85px;
   float: left;
  }

 .header{
   display: flex;  /*これで横並び*/
   justify-content: space-between;
   width: 375px;  /*これ2つで幅広げ*/
 }


  ul{
   float: left;
   padding-left: 0px;
   margin-top: 20px;
   margin-bottom: 20px;
  }

 .header li{
   list-style: none;
   float: left;
   margin-left: 0px;
   margin-right: 30px;
  }

 main{
  height: 2050px;
 }

 .main-vidual{
   background-image: url(img/mainvisual.jpg);
   background-size: cover; /*横いっぱいに広げる*/
   height: 600px; /*高さを限定する*/
   width: 100%;
   margin-top: 3px;
 }

 .about{
   width: 375px;
   margin-left: auto;
   margin-right: auto;
 }

 .about h2{
  margin-top: 80px;
  font-size: 32px;
  padding-top: 8px;
  padding-bottom: 8px;
 }

 .about h3{
  font-size: 16px;
  margin-left: 15px;
  text-align: left;
 }

 .about p{
  margin-left: 15px;
  font-size: 14.4px;
  text-align: left;
 }

 .bic{
   width: 375px;
   margin-left: auto;
   margin-right: auto;
 }

 .bic h2{
  font-size: 32px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 100px;
  margin-bottom: 60px;
 }

 .bic h3{
  margin-top: 10px;
  margin-bottom: 10px;
 }

 .bic img{
  width: 345px;
  height:228px;
  vertical-align: middle;
 }

 .bic li{
  position: relative;
  left: 15px;
  list-style: none;
 }

 .bic ul{
  float: left;
   margin-left: auto;
   margin-right: auto;
   justify-content: center;
   margin-top: 0px;
 }

 .bic p{
  margin-top: 0px;
  margin-bottom: 30px;
 }


 footer{
   text-align: center;
   width: 100%;
   margin-top: 110px;
   height: 15px;
   font-size: 10px;
 }
 }
